body{
    background-color: #ffe4e9;
}

#TodoContainer{
    background-color: #ffc0cb;
    width:20rem;
    margin:0 auto;
    height: auto;
    text-align: center;
    padding: 2em 0;
    border-radius: 3px;
}

#text-container{
    width:70%;
    height: 2.1em;
    font-weight: 700;
    border:none;
    border-radius: 3px;
    padding-left: 7px;
}
input:focus{
    outline:none;
}

h2{
    margin:0;
    margin-bottom: 5%;
}

.submit-button{
    height: 2rem;
    width: 2rem;
    background-color: #f78d9f;
    border: none;
    border-radius: 3px;
}

.submit-button:hover{
    background-color: #ad606d;
}

ul{
    margin: 20px auto;
    list-style-type: none;
    padding:0 10px;
    width:85%;
    text-align: left;
}

li{
    margin: 8px 0;
    font-weight: 500;
}

li>button{
    background-color: #ffffff;
    width: 1rem;
    height: 1rem;
    border: none;
    border-radius: 2px;
    margin-right: 5px;
}
li>button:hover{
    background-color: #a6a6a6;
}

.delbtn{
    float:right;
    background-color: rgb(255, 112, 112);
    height: auto;
    width: auto;
}